# ibex-mini RISC-V debug via BSCANE2 on the VC707's Xilinx config TAP (irlen 6),
# reached with USER JTAG instructions (same scheme as the SweRV bring-up).
adapter driver ftdi
transport select jtag
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0088 0x008b
ftdi tdo_sample_edge falling
reset_config none
jtag newtap riscv cpu -irlen 6 -expected-id 0x03687093 -ignore-version
target create riscv.cpu riscv -chain-position riscv.cpu
riscv set_ir idcode 0x09
riscv set_ir dtmcs 0x22
riscv set_ir dmi 0x23
gdb_port disabled
tcl_port disabled
telnet_port disabled
adapter speed 1000
riscv set_command_timeout_sec 15
init
halt
reg pc
shutdown
