# Silicon mem-write test using tcl read_memory/write_memory so values are
# RETURNED and can be echoed (mdw/mww don't print to stdout in batch -f mode).
adapter driver ftdi
transport select jtag
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0088 0x008b
ftdi tdo_sample_edge falling
reset_config none
jtag newtap riscv cpu -irlen 6 -expected-id 0x03687093 -ignore-version
target create riscv.cpu riscv -chain-position riscv.cpu
riscv set_ir idcode 0x09
riscv set_ir dtmcs 0x22
riscv set_ir dmi 0x23
gdb_port disabled
tcl_port disabled
telnet_port disabled
adapter speed 1000
riscv set_command_timeout_sec 20
init
halt
echo "PC=[format 0x%x [dict get [get_reg pc] pc]]"

riscv set_mem_access sysbus
echo "SYS_pre =[read_memory 0x00100000 32 1]"
write_memory 0x00100000 32 0xdeadbeef
echo "SYS_post=[read_memory 0x00100000 32 1]"

riscv set_mem_access progbuf
echo "PB_pre  =[read_memory 0x00100004 32 1]"
write_memory 0x00100004 32 0xcafef00d
echo "PB_post =[read_memory 0x00100004 32 1]"
shutdown
